<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Librarian" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= render "layouts/theme" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <header class="h-16 border-b border-border">
    <nav class="flex justify-between mx-auto max-w-7xl px-4 lg:px-6 items-center h-full">
      <div>

      </div>

      <div class="flex gap-4">
        <%= link_to "Sign Up", new_password_path %>

        <%= link_to "Login", new_session_path %>
      </div>
    </nav>
  </header>

  <main class="mx-auto max-w-7xl px-4 lg:px-6">
    <%= yield %>
  </main>
</body>
</html>
